*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gallery-hero{
    max-width: 90%;
    margin: auto;
    margin-top: 30px;
}

#add-btn{
    background-color: #1d1d1d;
    border: 1px solid #1d1d1d;
    color: #37FF8B;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
}

#gallery-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.item-card {
    background: #ffffff;
    border: 1px solid #e0e0e0;
    padding: 25px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

.item-card p {
    font-family: "Arial", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #1d1d1d;
    margin-bottom: 15px;
}

.delete-btn {
    background-color: transparent;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    width: 100%;
}

.delete-btn:hover {
    background-color: #ff4d4d;
    color: white;
}

.NightMode .item-card {
    background: #2a2a2a;
    border: 1px solid #37FF8B;
    box-shadow: 0 0 15px rgba(55, 255, 139, 0.1);
}

.NightMode .item-card p {
    color: #37FF8B;
}

.NightMode .delete-btn {
    border: 1px solid #37FF8B;
    color: #37FF8B;
}

.NightMode .delete-btn:hover {
    background-color: #37FF8B;
    color: #1d1d1d;
    box-shadow: 0 0 15px #37FF8B;
}

.item-card:hover {
    transform: translateY(-5px);
} 

@media (min-width: 1300px) {
    #gallery-hero{
        max-width: 1200px !important;
        margin: 30px auto;
    }
}